@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Parisienne&display=swap");

.header {
  height: 100vh;
}

.cursive {
  font-family: "Parisienne", cursive;
}

.cursive-header {
  font-family: "Parisienne", cursive;
  font-size: 5rem !important;
}

.image-overlay {
  background-color: rgba(147, 160, 130, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.map {
  height: 30rem;
}

hr {
  border-color: #fed136;
}

.page-section {
  background-color: white;
}
