@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Parisienne&display=swap");

.header {
  height: 100vh;
}

.flowers {
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
}

.particles {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
  background: #feffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #feffff 0%, #d2ebf9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#d2ebf9', GradientType=0);
  /* IE6-9 */
  position: absolute;
  pointer-events: none;
}

.jarallax {
  position: inherit !important;
  z-index: 0;
}

.header-image {
  filter: blur(.75px);
  margin-top: -30vh;
  height: 130vh !important;
}

.header-text {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 0;
  text-align: center;
  color: white;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

.header-names {
  font-family: "Parisienne", cursive;
  opacity: 0.9;
}

.cursive {
  font-family: "Parisienne", cursive;
}

.cursive-header {
  font-family: "Parisienne", cursive;
  font-size: 5rem !important;
}

.header-names > div {
  margin-top: -1rem;
}

.image-overlay {
  background-color: rgba(147, 160, 130, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.together {
  height: 6rem;
}

.countdown {
  background-color: #ecf2f0;
}

.countdown-date {
  font-size: 3rem;
  margin-top: 0;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.countdown-description {
  font-size: 1rem;
  line-height: 1.75;
  color: #6c757d !important;
  text-align: center;
}

.map {
  height: 30rem;
}

hr {
  border-color: #fed136;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.header-image[loaded="true"] {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  @keyframes fadein {
    0% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}

.bride-groom-circle {
  height: 300px;
  width: 300px;
}

.navbar-toggler {
  color: rgb(33, 37, 41) !important;
}

.page-section {
    background-color: white;
}